<center>
    <p></p>
    <h3>Please contact Team ICBA at: </h3>
    <h3>Georgi Georgiev</h3>
    <h4>Email: georgiwess@gmail.com</h4>
    <h3>Dimitar Yordanov</h3>
    <h4>Email: dimitar.yordanov.12@gmail.com</h4>
    <h3>Iliya Damyanov</h3>
    <h4>Email: i.s.damyanov@gmail.com</h4>
    <hr />
    <a onclick="window.open('https://github.com/ICBA-Project/ICBA','_blank')" onmouseover="this.style.cursor='pointer'"><img src="~/img/github.png" width="10%" height="5%" /></a>
</center>