<center>
    <p></p>
    <h3>Please contact Team ICBA at: </h3>
    <h3>Georgi Georgiev</h3>
    <h4>Email: <a href="mailto:georgiwess@gmail.com?Subject=ICBA%20Project">georgiwess@gmail.com</a></h4>
    <h3>Dimitar Yordanov</h3>
    <h4>Email: <a href="dimitar.yordanov.12@gmail.com?Subject=ICBA%20Project">dimitar.yordanov.12@gmail.com</a></h4>
    <h3>Iliya Damyanov</h3>
    <h4>Email: <a href="i.s.damyanov@gmail.com@gmail.com?Subject=ICBA%20Project">i.s.damyanov@gmail.com</a></h4>
    <hr />
    <a onclick="window.open('https://github.com/ICBA-Project/ICBA','_blank')" onmouseover="this.style.cursor='pointer'">
        <img src="~/Assests/img/github.png" width="10%" height="5%" />
    </a>
</center>