<center>
    <hr />
    <a onclick="window.open('http://www.icb.bg/','_blank')" onmouseover="this.style.cursor='pointer'"><img src="~/img/icb.png" width="50%" height="7%" /></a>
    <hr />
    <h3>Welcome to our APP</h3>
    <h4>Sensor-tracking with the help of ICB & Telerik Academy</h4>
    <hr />
    <a onclick="window.open('https://my.telerikacademy.com/','_blank')" onmouseover="this.style.cursor='pointer'"><img src="~/img/telerik-academy-logo.png" width="50%" height="7%" /></a>
    <hr />
</center>
