@model IEnumerable<ApplicationUser>

<link rel="stylesheet" href="../../Content/css/matrix-style.css" />

@section Scripts {
    <script>
        $(".table1").on("click", ".tableRow", function () {
            let selected = $(this).text().trim();
            $(".widget-box").toggle();
            var values = selected.split("\n");
            values = values.map(string => {
                return string.trim()
            })
            values = arr = values.filter(function (n) { return n != '' });
            $('#userName').attr("value", values[0]);
        });
    </script>
}

<table id="1" class="table-fill perc table1" width="100%">
    <tr>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.First().UserName)
        </th>
    </tr>
    <tbody class="table hover">
        @foreach (ApplicationUser user in Model)
        {
            <tr class="tableRow">
                <td class="text-left">
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="widget-box" hidden="true">
    <div class="widget-title">
        <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>Edit User</h5>
    </div>
    <div class="widget-content nopadding">
        <form method="post" action="EditUser" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label">User Name :</label>
                <div class="controls">
                    <input type="text" id="userName" name="UserName" class="span11" readonly required></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Make Admin :</label>
                <div class="controls">
                    <input type="checkbox" name="Email" class="span11" checked />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
