<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/css/uniform.css" />
<link rel="stylesheet" href="~/Content/css/select2.css" />
<link rel="stylesheet" href="~/Content/css/matrix-style.css" />
<link rel="stylesheet" href="~/Content/css/matrix-media.css" />
<link href="~/fonts/fonts-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Data table</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Current Value</th>
                    <th>Status</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX">
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td class="center">4</td>
                    <td>Win 95+</td>
                    <td>Win 95+</td>
                </tr>
                <tr class="gradeC">
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 5.0
                    </td>
                    <td>Win 95+</td>
                    <td class="center">5</td>
                </tr>
                <tr class="gradeA">
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 5.5
                    </td>
                    <td>Win 95+</td>
                    <td class="center">5.5</td>
                </tr>
                <tr class="gradeA">
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 6
                    </td>
                    <td>Win 98+</td>
                    <td class="center">6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Scripts/js/jquery.ui.custom.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/jquery.uniform.js"></script>
<script src="~/Scripts/js/select2.min.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/matrix.js"></script>
<script src="~/Scripts/js/matrix.tables.js"></script>