@section Styles{
    @Styles.Render("~/Content/css/uniform.css", "~/Content/css/select2.css")
}
<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Username</th>
            <th>Descriptipn</th>
            <th>Current Value</th>
            <th>Status</th>
            <th>LastUpdate</th>
        </tr>
    </thead>
    <tbody>
        <tr class="gradeX">
            <td>Trident</td>
            <td>
                Internet
                Explorer 4.0
            </td>
            <td>Win 95+</td>
            <td class="center">4</td>
        </tr>
        <tr class="gradeC">
            <td>Trident</td>
            <td>
                Internet
                Explorer 5.0
            </td>
            <td>Win 95+</td>
            <td class="center">5</td>
        </tr>
        <tr class="gradeA">
            <td>Trident</td>
            <td>
                Internet
                Explorer 5.5
            </td>
            <td>Win 95+</td>
            <td class="center">5.5</td>
        </tr>
        <tr class="gradeC">
            <td>Tasman</td>
            <td>Internet Explorer 5.2</td>
            <td>Mac OS 8-X</td>
            <td class="center">1</td>
        </tr>

</table>
